* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* html {
  scroll-padding-top: 120px;
} */

body {
  font-family: "Poppins", sans-serif;
}

.primario {
  color: #1C2A38;
}

.fondo-primario {
  background-color: #1C2A38;
}

.secundario {
  color: #2ECC71;
}

.fondo-secundario {
  background-color: #2ECC71;
}

.claro {
  color: #FBFBFB;
}

.fondo-claro {
  background-color: #FBFBFB;
}

.gris {
  color: #DADADA;
}

.fondo-gris {
  background-color: #DADADA;
}

.oscuro {
  color: #06080B;
}

.fondo-oscuro {
  background-color: #06080B;
}

.navbar a:hover {
  color: #FBFBFB;
}

.navbar a:focus {
  color: #FBFBFB;
  scale: 1.0375;
}

.blur-oscuro {
  backdrop-filter: blur(4px);
  background-color: #06080b55;
}

.blur-claro {
  backdrop-filter: blur(4px);
  background-color: #FBFBFB55;
}

.navbar button:hover {
  background-color: #2ECC7144;
  color: #FBFBFB44;
}

.navbar-toggler {
  color: #FBFBFBDD;
  background-color: #DADADADD;
}


.navbar-collapse {
  flex-grow: 0;
}

.hero {
  background-image: url(../img/hero.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: none;
}

footer a {
  text-decoration: none;
  color: #FBFBFB;
}

footer a:hover {
  color: #FBFBFBAA;
}
