* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* html {
  scroll-padding-top: 120px;
} */

body {
  font-family: "Poppins", sans-serif;
}

.primario {
  color: #1C2A38;
}

.fondo-primario {
  background-color: #1C2A38;
}

.secundario {
  color: #2ECC71;
}

.fondo-secundario {
  background-color: #2ECC71;
}

.claro {
  color: #FBFBFB;
}

.fondo-claro {
  background-color: #FBFBFB;
}

.gris {
  color: #DADADA;
}

.fondo-gris {
  background-color: #DADADA;
}

.oscuro {
  color: #06080B;
}

.fondo-oscuro {
  background-color: #06080B;
}

.navbar a:hover {
  color: #FBFBFB;
}

.navbar a:focus {
  color: #FBFBFB;
  scale: 1.0375;
}

.nav-link.active {
  color: #FBFBFB55 !important;
}

.blur-oscuro {
  backdrop-filter: blur(4px);
  background-color: #06080b55;
}

.blur-claro {
  backdrop-filter: blur(4px);
  background-color: #FBFBFB55;
}

.btn-primary {
  background-color: #2ECC71;
  color: #FBFBFB;
  border: none;
}

.btn-primary:hover{
  background-color: #2ECC71BB;
  color: #DADADA;
  border: 1px solid #2ECC71;
}

.btn-primary:active {
  background-color: #2ECC71;
  border: none !important;
}

.btn-primary:focus {
  background-color: #2ECC71 !important;

}

.btn-secondary {
  background-color: #DADADA;
  border: 1px solid #06080B;
  color: #06080B;
}

.btn-secondary:hover {
  background-color: #DADADABB;
  color: #1C2A38;
}

.btn-secondary:active {
  background-color: #DADADA !important;
}

.btn-secondary:focus {
  background-color: #DADADA !important;
  border: 2px solid #06080B !important;
}

.modal-header, .modal-footer {
  border: none;
}

.btn-close {
  color: #DADADA !important;
}

.navbar-toggler {
  color: #FBFBFBDD;
  background-color: #DADADADD;
}

.navbar-collapse {
  flex-grow: 0;
}

.hero-inicio {
  background-image: url(../img/hero-inicio.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-amenazas {
  background-image: url(../img/hero-amenazas.webp);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: none;
}

footer a {
  text-decoration: none;
  color: #FBFBFB;
}

footer a:hover {
  color: #FBFBFBAA;
}

.flip-card {
  perspective: 1000px;
  height: 240px; 
  cursor: pointer;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  transition: transform 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-back {
  transform: rotateY(180deg); 
}

.flip-card:hover .card-front {
  transform: rotateY(180deg);
}

.flip-card:hover .card-back {
  transform: rotateY(360deg);
}